In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/train_dataset1_N1103.csv', sep='|')

In [21]:
df = pd.read_csv('./data/train_dataset1_M1805.csv', sep='|')

In [25]:
df = pd.read_csv('./data/train_dataset_D1106.csv', sep='|')

In [30]:
df = pd.read_csv('./data/train_dataset_D1401.csv', sep='|')

In [4]:
df0 = df[df.label == 0]
df1 = df[df.label == 1]

In [5]:
len(df0), len(df1)

(2433, 624)

In [6]:
df0.six_months_quantiteact_sum

0        56.0
1        63.0
3         4.0
4       319.0
5         0.0
        ...
3052      0.0
3053    824.0
3054      0.0
3055      0.0
3056     55.0
Name: six_months_quantiteact_sum, Length: 2433, dtype: float64

In [7]:
for el in ['six_months_quantiteact_sum', 'six_months_h_trav', 'six_months_s_trav']:
    print(df0[el].quantile(0.25), df0[el].quantile(0.5), df0[el].quantile(0.75), df0[el].quantile(0.9))
    print(df1[el].quantile(0.25), df1[el].quantile(0.5), df1[el].quantile(0.75), df1[el].quantile(0.9),'\n')

0.0 28.0 383.0 797.0
95.75 355.0 635.75 824.0

0.0 0.0 24100.0 59760.00000000004
0.0 17400.0 47800.0 62500.0

0.0 0.0 211000.0 647580.0000000003
0.0 152550.0 459100.0 678920.0000000002

In [45]:
df1 = pd.read_csv('./data/model1_candidats.csv', sep='|')
df2 = pd.read_csv('./data/model2_candidats.csv', sep='|')
df3 = pd.read_csv('./data/model3_candidats.csv', sep='|')

In [46]:
df1.shape, df2.shape, df3.shape

((617, 25), (1838, 25), (990, 26))

In [47]:
df1['model'] = 1
df2['model'] = 2
df3['model'] = 3

In [48]:
df = pd.concat([df1, df2, df3])

C:\Users\imco8670\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [49]:
df = df[['model', 'ale', 'rome', 'mod', 'kn_individu_national']]

In [53]:
df.groupby('model').count()

        ale  rome   mod  kn_individu_national
model
1       617   617   617                   617
2      1838  1838  1838                  1838
3       990   990   990                   990

In [57]:
inter_1_2 = set(df1.kn_individu_national).intersection(set(df2.kn_individu_national))
inter_1_3 = set(df1.kn_individu_national).intersection(set(df3.kn_individu_national))
inter_2_3 = set(df2.kn_individu_national).intersection(set(df3.kn_individu_national))

In [58]:
len(inter_1_2), len(inter_1_3), len(inter_2_3)

(477, 491, 762)

In [59]:
inter1_2_3 = inter_2_3.intersection(set(df1.kn_individu_national))

In [60]:
len(inter1_2_3)

400

In [65]:
df3.groupby(['mod']).count()['ale']

mod
0     22
1    425
2    543
Name: ale, dtype: int64

In [66]:
df1.groupby(['mod']).count()['ale']

mod
0     18
1    180
2    419
Name: ale, dtype: int64

In [67]:
df2.groupby(['mod']).count()['ale']

mod
0      24
1     671
2    1143
Name: ale, dtype: int64